/*   this is the style for body */
body{
    margin: 0px;
    font-size: 20px;
}
/*   this is the style for Nav toolbar */
nav{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo-section{
    justify-self:start;
}
.link-section{
    display: flex;
    flex-direction: row;
}
.link-section a{
    margin: 1rem;
}

/*   this is the style for header */
header{
    background: linear-gradient(0deg, #af9cf3 60%, #6c6191);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding:60px;
   justify-content: space-evenly;
}
.header-img{
    max-width: 400px; /* 600 and small 400*/
}
.image-section{
    flex-grow: 1;
}
.text-section{
    flex-grow: 1;
    color: #FFFFFF;
    font-family: Quicksans;
}
#header-p1{
    font-size: 3rem; /*  60px */
}
#header-p2{
    font-size: 1rem; /*  20px */
    padding-bottom: 30px;
    }
.more-container{
display: flex;
justify-content: center;
}
.more-btn{
    padding-left: 40px;
    padding-right: 40px;
    color: #00a69c;
    background-color: #ffe101;
    border-radius: 5px;
    border: 0px;
    font-size: 1.5rem; /*  30px    */
    margin-bottom: 40px;
    box-shadow: 0px 2px 5px gray;
}
/*   this is the style for services */
#services-title{
    display:flex;
    justify-content: center;
    font-size: 2rem; /*  40px   */
    font-family: Quicksans;
    color: #00a69c;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*   this is the style for class-card */
.class-cards{
    display:flex;  /* inline-block not correct*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #d7cff3;
}
.card-frame-container{
    border: 2px solid white;
    padding: 20px 40px 20px 20px;
    background-color:#FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 5px gray;
    height:fit-content;
}
.card-frame-content{
    align-items: center;
    position: relative;
}
.yellow-circle{
    position: relative;
    background-color: #fee552;
    height: 150px;
    width: 150px;
    z-index: 1;
    border-radius:50%;
}
.card-frame-content img{
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 2;
    top: 30px;
    left: 30px;
    }
.bottom-text{
    width: 150px;
    margin-top: 10px;
    text-align: center;
}
/*   this is the style for S/w */
.software-class{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:60px 20px 60px 20px;
}
.sw-img-section{
    flex-basis: 40%;
    justify-content: left;
}
.sw-img{
    width:400px;
    height: 400px;
}
.sw-txt-section{
    flex-basis: 40%; /* responsive to 100%  */ 
}
.sw-text{
    line-height: 2em;
    color: gray;
    font-weight: normal;
}
.greenTitle{
    color: #00a69c;
    font-family: quicksand;
    font-weight: bold;
    font-size: 1.25rem; /*  25px  */
}
/*   this is the style for form */
.class-form{
    background-color: #0c1753;
    display:grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
}
#left-form-title{
    color: white;
    font-size: 1.5rem; /*  30px    */
    justify-content: left;
    margin: 60px;
}
#right-form-title{
    color: white;
    font-size: 1rem; /*  20px    */
    justify-content: right;
    margin-top: 10px;
}
.form-fiels{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    row-gap: .4em;
    margin-top:10px;
}
.class-name-city{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: .2em;
}
.class-other-fiels{
    display: flex;
    flex-direction: row;
}
#name,#city{
flex-grow:1;
}
#email,#text,#msg,#subject{
    flex-grow:1;
}
#sbt{
    flex-grow:1;
    background-color: #fee552;
}
/*   this is the style for footer */
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 4;
    padding: 1em;
}
.footerr-logo{
    display: flex;
    flex-direction:column;
    align-content: center;
    flex-grow: 1;
    justify-content: space-evenly;
}
.footer-pages{
    flex-grow: 1;
}
.footerr-terms{
    flex-grow: 1;
}
.footerr-find-us{
    flex-grow: 1;
}
#footer-img{
    align-self: center;
    display: inline-block;
}
#footer-img img{
    height: 2em;
    width: 2em;
}
#footer-develop{
    align-self: center;
    font-weight: bold;
    font-stretch:ultra-condensed;
    letter-spacing: .2em;
}
#footer-pages-title{
    text-align: left;
    color:#00a69c;
    line-height: 2em;
    font-weight: bold;
}
#footer-links{
align-self: center;
    text-align: left;
    line-height: 1.5em;
  }
#social-img{
    width: .2em;
    height: .2em;
}
/*   this is the style for copyrights section */
.class-copyrigt{
    background: linear-gradient(0deg, #af9cf3 60%, #6c6191);
display:flex;
justify-content:center;
    }
#Copyright-text{
    justify-content:center;
}
#Copyright-text > #develop-text{
    color: white;
    font-family: Quicksans;
}

/*   this is the style for responsive */
@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
    }
    header {
        align-items: flex-start;
        padding: 20px;
        justify-content: flex-start;
    }
    .header-img {
        max-width: 300px;
    }
    .more-btn {
        margin-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem; /*  30px    */
    }
    #header-p1 {
        font-size: 2rem;
    }
    #header-p2{
        padding-bottom: 0px;
        }
    #services-title {
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .class-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-frame-container {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100px;
        padding:0px;
    }
    .yellow-circle {
        height: 100px;
        width: 100px;
    }
    .card-frame-content img{
        height: 75px;
        width: 75px;
        top:15px;
        left: 15px;
    }
    .bottom-text {
        width: 100px;
        margin-top: 0px;
  }
  .sw-img {
    width: 250px;
    height: 250px;
}
.software-class {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 20px 20px 10px 10px;
  }
.sw-text {
    line-height: 1em;
    color: gray;
    font-weight: normal;
    margin: 15px;
}
.greenTitle{
font-size:1em;
}
.software-class-reverse{
    flex-direction: column;
}
#left-form-title {
    margin: 5%;
    font-size: 1rem;
}
.form-section{
    padding:50px;
}
.form-fiels{
    column-gap: .2em;
}
#right-form-title {
    font-size: .7rem;
}
.class-name-city{
    display: flex;
    flex-direction: column;
    column-gap: .2em;
}
footer{
    flex-wrap: nowrap;
    padding: .5em;
}
#footer-pages-title{
    line-height:1em;
}
#footer-develop{
       letter-spacing: .1em;
       letter-spacing:normal;
}
#footer-links,#footer-links-title{
    line-height: 1em;
    font-size: .5rem;
}
#footer-img img{
    height: 1em;
    width: 1em;
}
#Copyright-text{
    font-size:.5rem;
}
}
