body{
    margin: 0px;
    font-size: 20px;
    

}
/*   this is the style for Nav toolbar */
nav{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo-section{
    justify-self:start;
}
.link-section{
    display: flex;
    flex-direction: row;
}
.link-section a{
    margin: 20px;
}
/*   this is the style for second row */
header{
    background: linear-gradient(0deg, #af9cf3 60%, #6c6191);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding:60px;
   justify-content: space-between;
}
#header-img{
    max-width: 400px; /* 600 and small 400*/
}
.image-section{
    flex-grow: 1;
}
.text-section{
    flex-grow: 1;
    color: #FFFFFF;
    font-family: Quicksans;
}
#header-p1{
    font-size: 3rem; /*  60px */
}
#header-p2{
    font-size: 1rem; /*  20px */
    padding-bottom: 30px;
    }
.more-container{
display: flex;
justify-content: center;
}
#more-btn{
    padding-left: 40px;
    padding-right: 40px;
    color: #00a69c;
    background-color: #ffe101;
    border-radius: 5px;
    border: 0px;
    font-size: 1.5rem; /*  30px    */
    margin-bottom: 40px;
    box-shadow: 0px 2px 5px gray;
}
/*   this is the style for third row */
#services-title{
    display:flex;
    justify-content: center;
    font-size: 2rem; /*  40px   */
    font-family: Quicksans;
    color: #00a69c;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*   this is the style for fourth row */
.class-cards{
    display:flex;  /* inline-block not correct*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #d7cff3;
}
.card-frame-container{
    border: 2px solid white;
    padding: 20px 40px 20px 20px;
    background-color:#FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 5px gray;
    height:fit-content;
}
.card-frame-content{
    align-items: center;
    position: relative;
}
.yellow-circle{
    position: relative;
    background-color: #fee552;
    height: 150px;
    width: 150px;
    z-index: 1;
    border-radius:50%;
}
.card-frame-content img{
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 2;
    top: 30px;
    left: 30px;
    }
.bottom-text{
    width: 150px;
    margin-top: 10px;
    text-align: center;
}
/*   this is the style for fifth row */
.software-class{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:60px 20px 60px 20px;
}
.sw-img-section{
    flex-basis: 40%;
    justify-content: left;
}
.sw-img{
    width:400px;
    height: 400px;
}
.sw-txt-section{
    flex-basis: 40%; /* responsive to 100%  */ 
}
.sw-text{
    line-height: 2em;
    color: gray;
    font-weight: normal;
}
.greenTitle{
    color: #00a69c;
    font-family: quicksand;
    font-weight: bold;
    font-size: 1.25rem; /*  25px  */
}


#eightth{
    background-color: #0c1753;
    display:grid;
    grid-template-columns: 30% 70%;
   
}
#col8Left{
    color: white;
    font-size: 1.5rem; /*  30px    */
    justify-content: left;
    margin: 60px;
}
#col8Right{
    color: white;
    font-size: 1rem; /*  20px    */
    justify-content: right;
    margin-top: 30px;
}
#form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-between;
}
#name,#city{
    width: 29.25%;

}
#email,#text,#msg{
    width: 60%;
}
#sbt{
    width: 60%;
    background-color: #fee552;
}

@media only screen and(max-width: 600px) {
    #first{
        background: red;
    }
    
}